.profile-header {
    background: var(--color-darker);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
}

.profile-banner {
    height: 120px;
    background-image: url('/imgs/fondo-perfil.gif');
    border-radius: 8px;
    margin-bottom: 80px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    background-image: url('/imgs_perfil/img_perfil.jpeg');
    background-size: cover;
    background-position: center;
    border: 6px solid var(--color-bg);
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 16px;
}

.profile-info {
    padding: 0 16px;
}

.username {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.tag {
    color: #b9bbbe;
    font-size: 14px;
}

.contacts {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.contact {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.contact:hover{
    cursor: pointer;
    transform: scale(1.2);
}